$bg-white: #FCF6F5FF;
$bg-pink: #EDC2D8FF;
$bg-blue: #8ABAD3FF;
$fg-pink: #9F2D66;
$fg-blue: #3A7898;

.image-link {
  cursor: pointer;
}

.card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
}