$bg-white: #FCF6F5FF;
$bg-pink: #EDC2D8FF;
$bg-blue: #8ABAD3FF;
$fg-pink: #9F2D66;
$fg-blue: #3A7898;


.h1-genre {
  font-family: 'Oswald', sans-serif;
  color: $fg-blue;
}

.h2-genre {
  font-family: 'Oswald', sans-serif;
  color: $fg-blue;
}

.icon-back {
  color: $fg-blue;
  cursor: pointer;

  :hover {
    color: darken($fg-blue, 10%);
  }
}