$bg-white: #FCF6F5FF;
$bg-pink: #EDC2D8FF;
$bg-blue: #8ABAD3FF;
$fg-pink: #9F2D66;
$fg-blue: #3A7898;


.h-movie {
  font-family: 'Oswald', sans-serif;
  color: $fg-blue;
}

.icon-back {
  color: $fg-blue;
  cursor: pointer;

  :hover {
    color: darken($fg-blue, 10%);
  }
}

.icon-star {
  color: $fg-pink;
  cursor: pointer;
  vertical-align: baseline;
}

.movie-genre,
.movie-director {
  font-size: 20px;
}

.label {
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

.movie-link {
  color: $fg-blue;
}